# Testing Notebook for YRBSS R code

When you run this notebook, you need to adjust file paths to fit your setup.

First, load the source code.

In [1]:
source('c:/Users/Rex/Desktop/yrbs/R/YRBSS.R')
"OK"

Warning message:
"package 'survey' was built under R version 3.3.2"Loading required package: grid
Loading required package: Matrix
Loading required package: survival

Attaching package: 'survey'

The following object is masked from 'package:graphics':

    dotchart

[1] "OK"

Now do some smoke-testing.

We load the national data and perform various operations.

First we test the function that loads the data file and extract the right state and year from the data.

In [2]:
rda.path = "C:/Users/Rex/Desktop/OWH/owh-ds/software/owh/backoffice/yrbs/rda/"
rda.path = "C:/Users/Rex/Desktop/yrbs/rda/"
load(paste0(rda.path,"sadc_2015_national.rda"))
kolumns = colnames(sadc.2015.national.df)
#cat(kolumns)
odd = c(1,3,5,7,9)
gc()

### These just check that we can load the appropriate state and year, and return
### an error message if not.
dim.l.y = function(state,year) nrow(get.df.for.state.and.year(state,year,rda.path))    
print(dim.l.y('XX', 2015))
print(dim.l.y('XX', 2011))
print(dim.l.y('XX', 2009))
print(dim.l.y('MT', 2015))
print(dim.l.y('MT', 2011))
print(dim.l.y('MT', 2009))
print(dim.l.y('NC', 2015))
print(dim.l.y('NC', 2011))
print(dim.l.y('NC', 2009))
print(get.df.for.state.and.year('MT', 1909, rda.path))
gc()

       used     (Mb)  gc trigger (Mb)  max used (Mb)
Ncells  1222691  65.3  2164898   115.7  1443371  77.1
Vcells 45038138 343.7 59250972   452.1 45069917 343.9

[1] 15624
[1] 15425
[1] 16410
[1] 4486
[1] 4148
[1] 1852
[1] 6178
[1] 2278
[1] 5702
[1] "ERROR: No data for state MT and year 1909!"

       used     (Mb)  gc trigger (Mb)   max used  (Mb)
Ncells  1227224  65.6   2164898   115.7   1443371   77.1
Vcells 45043266 343.7 172430276  1315.6 215522433 1644.4

Next we smoke-test yrbssCalculate.  We focus on Q8 (Bicycle Helmet Use) and Q9 (Drinking Driver).  We just make a number of calls to be sure the function returns a matrix of the right shape and numbers of the right scale (percentages).  We have a couple of cases to check basic error handling.

In [3]:
### These are just a smoke test of yrbssCalculate.  Arguments that would normally be passed are
### allowed to default.
cat('\n\n', yrbssCalculate(filter=list(q8=1:2), rda.path=rda.path))
cat('\n\n', yrbssCalculate(filter=list(q8=1:2), state='MT', year = 2011, rda.path=rda.path) )
cat('\n\n', yrbssCalculate(filter=list(q8=1:2), state='MM', year = 2011, rda.path=rda.path) )
cat('\n\n', yrbssCalculate(filter=list(q9=c(1,3,5)), rda.path=rda.path) )
cat('\n\n', yrbssCalculate(filter=list(q8=1:2, q9=c(1,3,5)), rda.path=rda.path) )
cat('\n\n', yrbssCalculate(filter=list(q1=c(4, 5, 6), # age 15-18
                            q2=c(1), # female
                            q5=c("C","E")), rda.path=rda.path)) # bogus
cat('\n\n', yrbssCalculate(filter=list(queue8=1:2), rda.path=rda.path) )  
    
### These examples illustrate caching.  We cache a dataframe for Montana/2011
### and use it twice.  Third time we get an error.
df.MT.2011 = get.df.for.state.and.year('MT',2011,rda.path)
cat('\n\n', yrbssCalculate(filter=list(q8=1:2), state='MT', year = 2011, df=df.MT.2011) )
cat('\n\n', yrbssCalculate(filter=list(q9=odd), state='MT', year = 2011, df=df.MT.2011) )
cat('\n\n', yrbssCalculate(filter=list(q8=1:2), state='MS', year = 2013, df=df.MT.2011) )

 sex,grade,q8.count,q8.pct,q8.se,q8.ci.lo,q8.ci.hi,q9.count,q9.pct,q9.se,q9.ci.lo,q9.ci.hi
1,1,1327,58.26,2.72,52.69,63.63,1327,6.55,1.04,4.73,9.01
2,1,1281,74.06,2,69.82,77.89,1281,7.87,1.08,5.94,10.35
-1,1,2614,66.46,2.13,62.02,70.62,2614,7.25,0.82,5.75,9.1
1,2,1371,56.23,3.33,49.44,62.8,1371,4.81,0.97,3.2,7.18
2,2,1340,69.75,2.02,65.52,73.67,1340,8.55,1.44,6.05,11.95
-1,2,2725,62.72,1.91,58.79,66.49,2725,6.58,1.07,4.72,9.11
1,3,1454,48.89,3.51,41.87,55.95,1454,4.58,0.8,3.22,6.49
2,3,1427,66.36,2.43,61.28,71.08,1427,7.99,1.66,5.22,12.05
-1,3,2890,57.86,2.32,53.11,62.46,2890,6.52,1.14,4.57,9.23
1,4,1368,50.34,2.9,44.49,56.17,1368,5.32,0.96,3.69,7.63
2,4,1359,59.49,2.41,54.56,64.24,1359,6.58,1.35,4.32,9.88
-1,4,2730,54.91,2.05,50.74,59.01,2730,5.95,0.97,4.26,8.24
1,-1,5539,53.55,2.65,48.17,58.85,5539,5.39,0.7,4.14,7
2,-1,5435,67.54,1.33,64.8,70.18,5435,7.92,0.95,6.21,10.06
-1,-1,11018,60.59,1.69,57.12,63.95,11018,6.71,0.75,5.34,8.4


 sex,grade,q8.count,q8.pct,q8.se,q8.ci.lo,q8.ci.hi,q9.count,q9.pct,q9.se,q9.ci.lo,q9.ci.hi
1,1,393,68.05,2.95,61.94,73.6,393,9.12,1.23,6.94,11.88
2,1,443,82.47,1.83,78.53,85.81,443,12.73,1.87,9.46,16.91
-1,1,837,75.85,1.88,71.92,79.39,837,11.06,1.14,9,13.54
1,2,479,61.22,2.29,56.6,65.66,479,10.25,1.28,7.97,13.09
2,2,402,70.69,2.27,65.98,74.99,402,18.08,2.29,13.98,23.07
-1,2,885,65.9,1.85,62.14,69.47,885,14.32,1.16,12.16,16.79
1,3,448,55.86,2.31,51.25,60.38,448,10.07,1.53,7.41,13.54
2,3,398,62.57,2.99,56.48,68.28,398,16.36,2.07,12.65,20.89
-1,3,846,59.2,1.96,55.26,63.03,846,13.21,1.54,10.43,16.58
1,4,339,53.46,3.47,46.55,60.24,339,8.66,1.71,5.82,12.7
2,4,363,62.47,2.4,57.59,67.11,363,21.58,2.45,17.12,26.82
-1,4,702,58.06,2.16,53.72,62.28,702,15.26,1.76,12.08,19.1
1,-1,1666,59.38,1.97,55.41,63.22,1666,9.64,0.69,8.36,11.1
2,-1,1628,69.8,1.23,67.29,72.19,1628,17.22,1.26,14.86,19.87
-1,-1,3305,64.71,1.34,62.02,67.32,3305,13.59,0.86,11.97,15.39


 ERROR: No data for state MM!

 sex,grade,q8.count,q8.pct,q8.se,q8.ci.lo,q8.ci.hi,q9.count,q9.pct,q9.se,q9.ci.lo,q9.ci.hi
1,1,1210,45.2,3.06,39.13,51.41,1210,2.56,0.69,1.48,4.4
2,1,1226,54.76,2.9,48.85,60.53,1226,4.35,0.69,3.15,5.98
-1,1,2448,50.44,2.86,44.68,56.19,2448,3.58,0.51,2.68,4.76
1,2,1228,45.71,3.06,39.63,51.91,1228,2,0.62,1.07,3.71
2,2,1244,54.42,2.62,49.1,59.64,1244,4.73,1.06,3,7.4
-1,2,2479,50.06,2.3,45.43,54.69,2479,3.36,0.7,2.2,5.11
1,3,1248,39.88,4.31,31.57,48.82,1248,1.4,0.49,0.69,2.82
2,3,1300,52.91,2.67,47.51,58.25,1300,3.65,0.96,2.14,6.15
-1,3,2559,46.32,2.84,40.65,52.09,2559,2.74,0.68,1.65,4.51
1,4,1253,43.37,3.1,37.25,49.7,1253,1.59,0.48,0.86,2.91
2,4,1254,50.87,1.91,47.02,54.71,1254,3.05,0.65,1.98,4.68
-1,4,2514,47.2,2.09,43.01,51.42,2514,2.34,0.43,1.61,3.4
1,-1,4959,43.58,2.96,37.72,49.62,4959,1.98,0.37,1.35,2.88
2,-1,5056,53.24,2.02,49.15,57.29,5056,4.07,0.45,3.26,5.08
-1,-1,10091,48.41,2.22,43.95,52.89,10091,3.16,0.36,2.5,3.99


 sex,grade,q8.count,q8.pct,q8.se,q8.ci.lo,q8.ci.hi,q9.count,q9.pct,q9.se,q9.ci.lo,q9.ci.hi
1,1,873,57.01,3.28,50.29,63.48,873,3.09,0.93,1.67,5.64
2,1,877,72.07,2.52,66.72,76.86,877,4.59,1.12,2.79,7.45
-1,1,1756,65.06,2.54,59.76,70.01,1756,3.93,0.73,2.7,5.69
1,2,916,56.23,3.87,48.32,63.84,916,1.84,0.7,0.84,3.95
2,2,916,69,2.28,64.23,73.41,916,5.99,1.39,3.73,9.49
-1,2,1838,62.39,2.24,57.78,66.79,1838,3.85,0.95,2.33,6.29
1,3,1006,48.01,3.61,40.82,55.29,1006,1.79,0.64,0.87,3.67
2,3,1024,64.04,2.53,58.8,68.97,1024,3.73,1.14,2,6.86
-1,3,2037,56.29,2.38,51.44,61.02,2037,3.06,0.86,1.73,5.36
1,4,1005,49.58,3.52,42.52,56.64,1005,1.75,0.51,0.97,3.14
2,4,1020,59.14,2.1,54.85,63.31,1020,2.9,0.68,1.8,4.65
-1,4,2027,54.56,2.19,50.12,58.93,2027,2.35,0.45,1.59,3.44
1,-1,3814,52.75,3.1,46.48,58.93,3814,2.19,0.45,1.44,3.31
2,-1,3857,65.97,1.42,63.06,68.77,3857,4.4,0.65,3.26,5.92
-1,-1,7702,59.52,1.91,55.61,63.31,7702,3.41,0.47,2.58,4.5


 ERROR: Bad column names: q1 q2 q5


 ERROR: Bad column names: queue8


 sex,grade,q8.count,q8.pct,q8.se,q8.ci.lo,q8.ci.hi,q9.count,q9.pct,q9.se,q9.ci.lo,q9.ci.hi
1,1,393,68.05,2.95,61.94,73.6,393,9.12,1.23,6.94,11.88
2,1,443,82.47,1.83,78.53,85.81,443,12.73,1.87,9.46,16.91
-1,1,837,75.85,1.88,71.92,79.39,837,11.06,1.14,9,13.54
1,2,479,61.22,2.29,56.6,65.66,479,10.25,1.28,7.97,13.09
2,2,402,70.69,2.27,65.98,74.99,402,18.08,2.29,13.98,23.07
-1,2,885,65.9,1.85,62.14,69.47,885,14.32,1.16,12.16,16.79
1,3,448,55.86,2.31,51.25,60.38,448,10.07,1.53,7.41,13.54
2,3,398,62.57,2.99,56.48,68.28,398,16.36,2.07,12.65,20.89
-1,3,846,59.2,1.96,55.26,63.03,846,13.21,1.54,10.43,16.58
1,4,339,53.46,3.47,46.55,60.24,339,8.66,1.71,5.82,12.7
2,4,363,62.47,2.4,57.59,67.11,363,21.58,2.45,17.12,26.82
-1,4,702,58.06,2.16,53.72,62.28,702,15.26,1.76,12.08,19.1
1,-1,1666,59.38,1.97,55.41,63.22,1666,9.64,0.69,8.36,11.1
2,-1,1628,69.8,1.23,67.29,72.19,1628,17.22,1.26,14.86,19.87
-1,-1,3305,64.71,1.34,62.02,67.32,3305,13.59,0.86,11.97,15.39


 sex,grade,q8.count,q8.pct,q8.se,q8.ci.lo,q8.ci.hi,q9.count,q9.pct,q9.se,q9.ci.lo,q9.ci.hi
1,1,342,52.36,2.89,46.63,58.04,342,1.42,0.63,0.59,3.37
2,1,366,66.8,2.61,61.43,71.77,366,5.5,1.08,3.71,8.07
-1,1,709,60.11,1.99,56.12,63.98,709,3.6,0.6,2.58,4.99
1,2,359,50.03,2.58,44.93,55.14,359,1.12,0.51,0.45,2.73
2,2,335,56.46,3.15,50.15,62.57,335,9.22,1.84,6.17,13.57
-1,2,698,53.41,2.18,49.07,57.7,698,5.62,0.87,4.13,7.62
1,3,313,47.62,2,43.68,51.58,313,3.3,1.08,1.71,6.26
2,3,291,50.36,3.26,43.92,56.79,291,8.5,1.5,5.96,11.99
-1,3,604,49.02,1.96,45.14,52.92,604,5.96,0.77,4.61,7.68
1,4,259,49.18,3.31,42.67,55.72,259,2.14,0.75,1.07,4.25
2,4,257,56.46,3.17,50.1,62.61,257,7.44,1.33,5.19,10.55
-1,4,516,52.75,2.16,48.45,57.01,516,4.74,0.84,3.32,6.72
1,-1,1279,49.7,1.47,46.78,52.61,1279,2.13,0.36,1.52,2.97
2,-1,1267,58.06,1.33,55.39,60.68,1267,7.75,0.81,6.3,9.51
-1,-1,2558,54,0.94,52.13,55.85,2558,5.13,0.46,4.3,6.12


 ERROR: df contains data for states other than MS

Now we do a more systematic test of the group-by functionality.  We set up a contrived matrix, group by (nearly) all possible pairs of columns, and look at all remaining columns as response variables.

In [4]:
test.vec = function (i,n) c(rep(1,i), rep(0,n-i))    
m = sapply(1:20,test.vec,20)
m = rbind(m,matrix(rep(NA,100),ncol=20))
m = data.frame(m)
m$PSU = 1:25
m$stratum = rep(1,25)
m$weight = rep(1,25)
m

   X1 X2 X3 X4 X5 X6 X7 X8 X9 X10 ... X14 X15 X16 X17 X18 X19 X20 PSU stratum
1   1  1  1  1  1  1  1  1  1  1  ...  1   1   1   1   1   1   1   1  1
2   0  1  1  1  1  1  1  1  1  1  ...  1   1   1   1   1   1   1   2  1
3   0  0  1  1  1  1  1  1  1  1  ...  1   1   1   1   1   1   1   3  1
4   0  0  0  1  1  1  1  1  1  1  ...  1   1   1   1   1   1   1   4  1
5   0  0  0  0  1  1  1  1  1  1  ...  1   1   1   1   1   1   1   5  1
6   0  0  0  0  0  1  1  1  1  1  ...  1   1   1   1   1   1   1   6  1
7   0  0  0  0  0  0  1  1  1  1  ...  1   1   1   1   1   1   1   7  1
8   0  0  0  0  0  0  0  1  1  1  ...  1   1   1   1   1   1   1   8  1
9   0  0  0  0  0  0  0  0  1  1  ...  1   1   1   1   1   1   1   9  1
10  0  0  0  0  0  0  0  0  0  1  ...  1   1   1   1   1   1   1  10  1
11  0  0  0  0  0  0  0  0  0  0  ...  1   1   1   1   1   1   1  11  1
12  0  0  0  0  0  0  0  0  0  0  ...  1   1   1   1   1   1   1  12  1
13  0  0  0  0  0  0  0  0  0  0  ...  1   1   1   1   1   1   1  13  1
14  0  0  0  0  0  0  0  0  0  0  ...  1   1   1   1   1   1   1  14  1
15  0  0  0  0  0  0  0  0  0  0  ...  0   1   1   1   1   1   1  15  1
16  0  0  0  0  0  0  0  0  0  0  ...  0   0   1   1   1   1   1  16  1
17  0  0  0  0  0  0  0  0  0  0  ...  0   0   0   1   1   1   1  17  1
18  0  0  0  0  0  0  0  0  0  0  ...  0   0   0   0   1   1   1  18  1
19  0  0  0  0  0  0  0  0  0  0  ...  0   0   0   0   0   1   1  19  1
20  0  0  0  0  0  0  0  0  0  0  ...  0   0   0   0   0   0   1  20  1
21 NA NA NA NA NA NA NA NA NA NA  ... NA  NA  NA  NA  NA  NA  NA  21  1
22 NA NA NA NA NA NA NA NA NA NA  ... NA  NA  NA  NA  NA  NA  NA  22  1
23 NA NA NA NA NA NA NA NA NA NA  ... NA  NA  NA  NA  NA  NA  NA  23  1
24 NA NA NA NA NA NA NA NA NA NA  ... NA  NA  NA  NA  NA  NA  NA  24  1
25 NA NA NA NA NA NA NA NA NA NA  ... NA  NA  NA  NA  NA  NA  NA  25  1
   weight
1  1
2  1
3  1
4  1
5  1
6  1
7  1
8  1
9  1
10 1
11 1
12 1
13 1
14 1
15 1
16 1
17 1
18 1
19 1
20 1
21 1
22 1
23 1
24 1
25 1

In [5]:
correct.column3 = function(g1,g2,r) {
    if (r>g1 && r<g2) {
        c(20-g2, 0, 20-g2, g2-g1, g1, g2, 20-g1, g1, 20)
    }
}

correct.column3(4,17,12)

[1]  3  0  3 13  4 17 16  4 20

In [6]:
res = yrbssCalculate(df=m, state='99', group.by=list("X4","X17"), positives=list(X12=1), filter=NULL, out.format="matrix")
res

      X4 X17 X12.count X12.pct X12.se X12.ci.lo X12.ci.hi
 [1,]  0  0   3          0.00   0.00    NaN       NaN
 [2,]  1  0   0          0.00   0.00   0.00      0.00
 [3,] -1  0   3          0.00   0.00    NaN       NaN
 [4,]  0  1  13         61.54  13.77  32.50     84.17
 [5,]  1  1   4        100.00   0.00    NaN       NaN
 [6,] -1  1  17         70.59  11.28  43.89     88.05
 [7,]  0 -1  16         50.00  12.76  25.86     74.14
 [8,]  1 -1   4        100.00   0.00    NaN       NaN
 [9,] -1 -1  20         48.00  10.20  28.43     68.21

In [7]:
any(res[,3]!=correct.column3(4,17,12))

[1] FALSE

In [8]:
test.column = function(k) function(m,g1,g2,r) {
    group.by = as.list(paste0("X", c(g1,g2)))
    pos.name = paste0("X",r)
    positives = NULL
    positives[[pos.name]] = 1
    res = yrbssCalculate(df=m, state="99", group.by=group.by, positives=positives, filter=NULL, out.format="matrix")
    res[,k]
}

test.column4 = test.column(4)
test.column3 = test.column(3)

In [9]:
test.column3(m,4,17,12)

[1]  3  0  3 13  4 17 16  4 20

In [10]:
correct.column4 = function(g1,g2,r) {
    v =
    c(0,
      0,
      0,
     (r-g1)/(g2-g1),
      1,
      r/g2,
      (r-g1)/(20-g1),
      1,
      r/25)  
    return(round(100*v,2))
}
correct.column4(4,17,12)

[1]   0.00   0.00   0.00  61.54 100.00  70.59  50.00 100.00  48.00

In [11]:
test.matrix = function () {
    errors = 0
    for (g1 in 1:17) {
        for (g2 in (g1+2):19) {  # would have to rewrite correct.column3 to check g2=20
            for (r in (g1+1):(g2-1)) {
                if (any(test.column3(m,g1,g2,r) != correct.column3(g1,g2,r))) {
                    cat("Failure for (g1,g2,r) column 3 = ", c(g1,g2,r), "\n")
                    errors = errors + 1
                }  
                if (any(test.column4(m,g1,g2,r) != correct.column4(g1,g2,r))) {
                    cat("Failure for (g1,g2,r) column 4 = ", c(g1,g2,r), "\n")
                    cat(test.column4(m,g1,g2,r),"\n",correct.column4(g1,g2,r), "\n\n")
                    errors = errors + 1
                }                
            }
        }
    }
    cat(errors, " errors in m\n")
    errors = 0
    m1 = m[sample(25),]  # permute rows and try again.
    for (g1 in 1:17) {
        for (g2 in (g1+2):19) {  # would have to rewrite correct.column3 to check g2=20
            for (r in (g1+1):(g2-1)) {
                if (any(test.column3(m1,g1,g2,r) != correct.column3(g1,g2,r))) {
                    cat("Failure for (g1,g2,r) column 3 = ", c(g1,g2,r), "\n")
                    errors = errors + 1
                }   
                if (any(test.column4(m1,g1,g2,r) != correct.column4(g1,g2,r))) {
                    cat("Failure for (g1,g2,r) column 4 = ", c(g1,g2,r), "\n")
                    cat(test.column4(m,g1,g2,r),"\n",correct.column4(g1,g2,r), "\n\n")
                    errors = errors + 1
                }                
            }
        }
    }
    cat(errors, " errors in m1\n")
}

In [12]:
test.matrix()

0  errors in m
0  errors in m1

In [13]:
test.column3(m,9,20,18)  # is correct.

[1] 11  9 20 11  9 20

Now some systematic testing of filtering.  We set up a matrix in which the columns are exactly the binary representation of the integers 0 to 127.  Then we filter on combinations of columns, and look at another column as response variable.  We should always find a proportion of 1/2, by construction.

In [14]:
### Now a new matrix....
kol = function(i,m) rep(c(rep(0,2^(i-1)), rep(1,2^(i-1))), 2^(m-i))
kol(3,5)

 [1] 0 0 0 0 1 1 1 1 0 0 0 0 1 1 1 1 0 0 0 0 1 1 1 1 0 0 0 0 1 1 1 1

In [15]:
m = data.frame(sapply(1:6, kol, 7))
m$PSU = 1:2^7
m$weight = rep(1,2^7)
m$stratum = rep(1,2^7)
m

    X1  X2  X3  X4  X5  X6  PSU weight stratum
1   0   0   0   0   0   0    1  1      1
2   1   0   0   0   0   0    2  1      1
3   0   1   0   0   0   0    3  1      1
4   1   1   0   0   0   0    4  1      1
5   0   0   1   0   0   0    5  1      1
6   1   0   1   0   0   0    6  1      1
7   0   1   1   0   0   0    7  1      1
8   1   1   1   0   0   0    8  1      1
9   0   0   0   1   0   0    9  1      1
10  1   0   0   1   0   0   10  1      1
11  0   1   0   1   0   0   11  1      1
12  1   1   0   1   0   0   12  1      1
13  0   0   1   1   0   0   13  1      1
14  1   0   1   1   0   0   14  1      1
15  0   1   1   1   0   0   15  1      1
16  1   1   1   1   0   0   16  1      1
17  0   0   0   0   1   0   17  1      1
18  1   0   0   0   1   0   18  1      1
19  0   1   0   0   1   0   19  1      1
20  1   1   0   0   1   0   20  1      1
21  0   0   1   0   1   0   21  1      1
22  1   0   1   0   1   0   22  1      1
23  0   1   1   0   1   0   23  1      1
24  1   1   1   0   1   0   24  1      1
25  0   0   0   1   1   0   25  1      1
26  1   0   0   1   1   0   26  1      1
27  0   1   0   1   1   0   27  1      1
28  1   1   0   1   1   0   28  1      1
29  0   0   1   1   1   0   29  1      1
30  1   0   1   1   1   0   30  1      1
... ... ... ... ... ... ... ... ...    ...
99  0   1   0   0   0   1    99 1      1
100 1   1   0   0   0   1   100 1      1
101 0   0   1   0   0   1   101 1      1
102 1   0   1   0   0   1   102 1      1
103 0   1   1   0   0   1   103 1      1
104 1   1   1   0   0   1   104 1      1
105 0   0   0   1   0   1   105 1      1
106 1   0   0   1   0   1   106 1      1
107 0   1   0   1   0   1   107 1      1
108 1   1   0   1   0   1   108 1      1
109 0   0   1   1   0   1   109 1      1
110 1   0   1   1   0   1   110 1      1
111 0   1   1   1   0   1   111 1      1
112 1   1   1   1   0   1   112 1      1
113 0   0   0   0   1   1   113 1      1
114 1   0   0   0   1   1   114 1      1
115 0   1   0   0   1   1   115 1      1
116 1   1   0   0   1   1   116 1      1
117 0   0   1   0   1   1   117 1      1
118 1   0   1   0   1   1   118 1      1
119 0   1   1   0   1   1   119 1      1
120 1   1   1   0   1   1   120 1      1
121 0   0   0   1   1   1   121 1      1
122 1   0   0   1   1   1   122 1      1
123 0   1   0   1   1   1   123 1      1
124 1   1   0   1   1   1   124 1      1
125 0   0   1   1   1   1   125 1      1
126 1   0   1   1   1   1   126 1      1
127 0   1   1   1   1   1   127 1      1
128 1   1   1   1   1   1   128 1      1

In [16]:
yrbssCalculate(df=m,state="99",filter=list(X1=0,X3=1), positive=list(X2=1), group.by=NULL, out.format="matrix")

     X2.count X2.pct X2.se X2.ci.lo X2.ci.hi
[1,] 32       50     8.87  33.13    66.87
[2,] 32       50     8.87  33.13    66.87

In [17]:
errors = 0
for (i in 1:5) {
    for (j in 1:10) {
        s = sample(6,i+1)
        fil = s[-1]
        pos = s[1]
        fil = paste0("X",fil)
        pos = paste0("X",pos)
        positive=NULL
        positive[[pos]] = sample(0:1, 1)
        filters = NULL
        for (x in fil) {
            filters[[x]] = sample(0:1, 1)
        }
        mat = yrbssCalculate(df=m,state="99",filter=filters, positive=positive, group.by=NULL, out.format="matrix")
        if (mat[1,1] != 2^(7-i) | mat[2,1] != 2^(7-i) | mat[1,2] != 50 | mat[2,2] != 50) {
            print("ERROR!")
            print(mat)
            errors = errors + 1
        }
    }
}
cat(errors, "errors.")

0 errors.

As bugs are found and fixed, regression tests should be added below.